### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/
.cursor/skills/continuous-learning-data/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
runs/
/run-server/
/run-data/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

# Compiled / packages
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle/wrapper/gradle-wrapper.jar

# Crash / OS junk
hs_err_pid*
*~
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Local reference clones
/SlashBlade_Resharped/
